body{
    background-image: url(t1.jpg);
    
  height: 100%;
  display: block;
  width: 100%;
  height: auto;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  }